$primary-color: #e73b2a;
$header-color: #423144;
$white-color: white;
$table-border: #ddd;
$table-nth-row-color: #f2f2f2;
$input-shadow-color: #423144;
$login-shodow-color: rgba(0,0,0,0.75);
$input-background-color: #f5f2f2;
$search-hover-color: #c5c2c2;
$white-color: #ffffff;
$custom-radio-hover: #ccc;
$custom-radio: #ddd;
$red-color: #FF0000;
$coaldev-name-color: #808080;
$modal-backgorund-color: rgba(0, 0, 0, 0.5);
$modal-shadow-color: rgba(0, 0, 0, 0.33);
